In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_mobile = pd.read_csv("BDD_initial/mobile_addiction_data.csv", sep="\t", index_col=0)
data_mobile.head()

,Country,Age,Gender,Occupation,Education_Level,Income_USD,Daily_Screen_Time_Hours,Phone_Unlocks_Per_Day,Social_Media_Usage_Hours,Gaming_Usage_Hours,...,Internet_Connection_Type,Primary_Device_Brand,Has_Screen_Time_Management_App,Self_Reported_Addiction_Level,Monthly_Data_Usage_GB,Has_Night_Mode_On,Age_First_Phone,Push_Notifications_Per_Day,Tech_Savviness_Score,Addiction_screen
User_ID,,,,,,,,,,,,,,,,,,,,,
1,India,32,Male,Salesperson,High School,"43865,49","5,81",75,"0,84","-1,55",...,5G,Other,No,Low,"16,43",Yes,16,106,"39,36",1
2,UK,26,Male,Artist,Master's,"41868,19","9,05",61,"3,13","2,5",...,4G,Samsung,Yes,Severe,"32,87",No,12,111,"9,45",1
3,Germany,70,Other,Doctor,High School,"59636,51","5,76",58,"2,12","1,96",...,WiFi,Samsung,Yes,Severe,"27,45",No,18,90,"50,27",1
4,UK,44,Female,Engineer,NaN,"39022,07","6,71",80,"1,6","2,7",...,3G,Apple,Yes,Moderate,"30,85",No,17,60,"30,82",1
5,Brazil,46,Other,Student,NaN,"-783,98","6,31",136,"1,51","1,73",...,3G,Xiaomi,No,High,"10,38",Yes,18,127,"21,7",1